<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet" href="gift.css" />
  </head>
  <body>
    <div class="myGiftcontainer" id="myGiftContainer">
      <div
        class="myGiftpart myGiftleft myGiftlefImage myGiftborderLeft"
        id="myGiftLefySide"
      >
        <div class="myGiftamount">
          3500 рублей
        </div>
      </div>
      <div class="myGiftpart myGiftright myGiftborderRight myGiftrightImage">
        <h3 class="myGifttitle">
          Подарочный
          <br />
          сертфикат
        </h3>
        <div class="myGiftnumber">
          000610
        </div>
      </div>
    </div>
  </body>
</html>
