<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet" href="style1.css" />
  </head>
  <body>
    <div class="action_container">
      <div class="action_left"></div>
      <div class="action_right">
        <div class="action_title">
          СЧАСТЛИВЫЕ ЧАСЫ
        </div>
        <div class="action_amount">15%</div>
        <div class="action_bottom_title">
          скидка в понендельник и четверг с 10 до 12 на популярные услуги
        </div>
      </div>
    </div>
  </body>
</html>
