.action_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-items: center;
  padding: 0;
  margin: 0;
  height: 90vh;
}
.action_left {
  background-image: url("../../media/background/leftSide.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 30%;
  height: 70%;
  border-radius: 10px 0 0 10px;
  box-shadow: -1px 3px 8px black;
}
.action_right {
  background-image: url("../../media/background/rightSide.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 70%;
  height: 70%;
  border-radius: 0px 10px 10px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items: center;
  box-shadow: 1px 3px 8px black;
}
.action_right > div {
  text-align: center;
}

.action_title {
  color: #400040;
}

.action_amount {
  font-size: 2em;
}
.action_bottom_title{
    font-size: 0.7em;
}